<div class="content">
  <div class="row row-cols-1 row-cols-md-5 g-6">
    <div class="col margBot" *ngFor="let project of projects">

      <a [routerLink]="['/board/project', project.id]">
        <mat-card class="cards">
          <div class="azerty">
            <mat-card-header>
              <mat-card-title>
                <p>{{project.name}}</p>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-sm-image [src]="project.media" matTooltip="{{project.description}}"
                aria-label="Description du projet">
            </mat-card-content>
            <div><small class="text-muted disposition">Objectif : {{project.fundingGoal}} €</small></div>
            <div><small class="text-muted dispositionBottom">Projet créé le :
                {{project.creationDate | date:'dd/MM/yyyy'}}</small> </div>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
