.content {
    padding: 3em;

    a {
        text-decoration: none;
    }

    .cards {
        width: 100%;
        height: 90%;
        margin-bottom: 3em;
        border: solid 0.1em;

        img {
            width: 100%;
            object-fit: none;
            cursor: help;
        }

        .disposition {
            top: 0;
            background-color: lightblue;
        }

        .dispositionBottom {
            bottom: 0;
            position: absolute;
        }
    }

    .margBot {
        margin-bottom: 0.5em;
    }
}