<form class="project-form" fxLayout="column" [formGroup]="projectForm" (ngSubmit)="submitProjectForm()">

  <div *ngIf='project' class="project">
    <button class="project" (click)="deleteProject(project.id)" mat-raised-button>Supprimer le projet</button>

    <div class="form-header-title">
      <mat-form-field appearance="outline">
        <mat-label>{{ project.name }}</mat-label>
        <input matInput formControlName="name" type="text" class="form-control" id="name">
      </mat-form-field>
    </div>

    <div class="row">

      <div class="col-8">
        <div class="row">
          <div class="col-8">
            <label class="btn btn-default p-0">
              <input type="file" accept="image/*" (change)="selectFile($event)" id="media" name="media" />
            </label>
          </div>
        </div>

        <div>
          <img class="img-fluid" [src]="project.media" id="media" [alt]="project.media">
        </div>

        <button type="submit" mat-raised-button>Valider</button>
      </div>

      <div class="col-4">
        <h4>Engagés sur un objectif de </h4>

        <mat-form-field appearance="standard">
          <input matInput formControlName="fundingGoal" type="text" class="form-control no-border" id="fundingGoal">
        </mat-form-field>

        <h4>Contributeurs</h4>
        <mat-form-field appearance="standard">
          <input matInput formControlName="backers" type="text" class="form-control no-border" id="backers">
        </mat-form-field>


        <h4>Jours avant la fin</h4>
        <mat-form-field appearance="standard">
          <mat-label>{{project.endDate| date:'dd/MM/yyyy'}}</mat-label>
          <input matInput formControlName="endDate" type="date" class="form-control no-border" id="endDate">
        </mat-form-field>

      </div>
    </div>

    <div class="project">
      <angular-editor formControlName="description" [config]="config"></angular-editor>
    </div>

  </div>

</form>
