.project {
    margin: 1em;
}

mat-form-field {
    text-align: center;
    width: 100%;
}

.html-header {
    margin: 15px 0 5px;
}

.mat-raised-button {
    color: white;
    background: var(--color-primary);
    display: block;
    margin: auto;
    margin-top: 5%;
}