<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]=true [fixedTopGap]=0 [fixedBottomGap]=0
      (click)="onSidenavClick()">

      <mat-nav-list class="sidenav-list">
        <div class="sidenav-list-header">
          <a routerLink="/">
            <img src="../../assets/images/kissluler-logo-black.png" alt="Logo">
          </a>
        </div>
        <a mat-list-item routerLink="/board">Tableau de bord</a>
        <a mat-list-item routerLink="projects">Projets</a>
        <a mat-list-item routerLink="users">Utilisateurs</a>
        <a mat-list-item routerLink="categories">Catégories</a>
        <a mat-list-item class="btn" (click)="logout()">Déconnexion</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <router-outlet></router-outlet>
      <!-- TO DO : Placer le router outlet ici pour les routes enfants -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
