:host {

    .sidenav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      background: var(--color-primary);
    }
  
    h1 {
      font-family: Roboto;
    }
  
    .sidenav-list {
  
      a {
        color: white;
      }
      
  
      .btn {
        margin: 15px;
        width: 170px;
        background-color: var(--color-danger);
        
  
        &:hover {
          background-color: var(--color-secondary);
        }
      }
  
      .sidenav-list-header {
        display: flex;
        justify-content: center;
  
        img {
          height: 100px;
          filter: var(--color-primary-filter-contrast);
        }
      }
    }
  }
  